[sqlite3 documentation](https://docs.python.org/3/library/sqlite3.html#module-sqlite3)

In [1]:
import sqlite3
import pandas as pd

[Database Diagram](https://www.sqlitetutorial.net/wp-content/uploads/2018/03/sqlite-sample-database-diagram-color.pdf)

[Download the example database](https://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip) and unzip.

In [2]:
# check path, not on GitHub repo
chinook = sqlite3.connect(r'D:\chinook.db')

In [3]:
dims_albums = '''
SELECT *
FROM albums
LIMIT 1
'''

In [4]:
dims_df = pd.read_sql_query(dims_albums, chinook)
dims_df

   AlbumId                                  Title  ArtistId
0        1  For Those About To Rock We Salute You         1

In [5]:
query_albums = '''
SELECT AlbumId, Title, ArtistId
FROM albums
'''

In [6]:
albums_df = pd.read_sql_query(query_albums, chinook)
albums_df.shape

(347, 3)

In [7]:
albums_df.head()

   AlbumId                                  Title  ArtistId
0        1  For Those About To Rock We Salute You         1
1        2                      Balls to the Wall         2
2        3                      Restless and Wild         2
3        4                      Let There Be Rock         1
4        5                               Big Ones         3

In [8]:
query_a_albums = '''
SELECT *
FROM albums
WHERE Title LIKE 'A%'
'''

In [9]:
a_albums_df = pd.read_sql_query(query_a_albums, chinook)
a_albums_df.shape

(32, 3)

In [10]:
a_albums_df

    AlbumId                                              Title  ArtistId
0        10                                         Audioslave         8
1        14           Alcohol Fueled Brewtality Live! [Disc 1]        11
2        15           Alcohol Fueled Brewtality Live! [Disc 2]        11
3        24                                     Afrociberdelia        18
4        26                                Acústico MTV [Live]        19
5        29                                     Axé Bahia 2001        21
6        74                                  Album Of The Year        82
7        75                                         Angel Dust        82
8        85                           As Canções de Eu Tu Eles        27
9        89                                     American Idiot        54
10       90                           Appetite for Destruction        88
11       94                         A Matter of Life and Death        90
12       95                                    A Real Dead One        90
13       96                                    A Real Live One        90
14      120                               Are You Experienced?        94
15      139         A TempestadeTempestade Ou O Livro Dos Dias        99
16      160                                      Ace Of Spades       106
17      167                                       Acústico MTV       113
18      168                                         Arquivo II       113
19      169                    Arquivo Os Paralamas Do Sucesso       113
20      203                                            A-Sides       132
21      224                                           Acústico       146
22      232                                       Achtung Baby       150
23      233                    All That You Can't Leave Behind       150
24      248                                   Ao Vivo [IMPORT]       155
25      254                                            Aquaman       159
26      272  Adorate Deum: Gregorian Chant from the Proper ...       206
27      273                                  Allegri: Miserere       207
28      285                                 A Soprano Inspired       219
29      296                      A Copland Celebration, Vol. I       230
30      307                   Adams, John: The Chairman Dances       242
31      319  Armada: Music from the Courts of England and S...       251

In [11]:
chinook.close()